
name: CMake on a single platform (RISC-V 32-bit)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  RISCV_PREFIX: riscv32-unknown-elf

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          cmake \
          ninja-build \
          qemu-user \
          qemu-user-static \
          libgtest-dev \
          software-properties-common \
          wget \
          git

    - name: Install 32-bit RISC-V Bare-Metal Toolchain
      run: |
        wget https://github.com/stnolting/riscv-gcc-prebuilt/releases/latest/download/riscv32-unknown-elf.gcc-13.2.0.tar.gz -O /tmp/riscv32.tar.gz
        sudo tar -xzf /tmp/riscv32.tar.gz -C /opt/
        echo "/opt/riscv32-unknown-elf-gcc-13.2.0/bin" | sudo tee /etc/profile.d/riscv32.sh
        source /etc/profile.d/riscv32.sh

    - name: Verify 32-bit Toolchain
      run: |
        which ${RISCV_PREFIX}-as
        which ${RISCV_PREFIX}-ld
        which ${RISCV_PREFIX}-gcc
        ${RISCV_PREFIX}-gcc --version

    - name: Build GTest
      run: |
        cd /usr/src/gtest
        sudo cmake .
        sudo make
        sudo mv lib/*.a /usr/lib

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
        -DRISCV_AS=$(which ${RISCV_PREFIX}-as) \
        -DRISCV_LD=$(which ${RISCV_PREFIX}-ld)

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Format Check
      working-directory: ${{github.workspace}}/build
      run: make check-format

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Unit Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}}

    - name: Compile Test Programs
      run: cmake --build ${{github.workspace}}/build --target build_compile_tests

    - name: Run Test Programs
      run: cmake --build ${{github.workspace}}/build --target runtime_tests

